__pycache__
.DS_Store


examples/**/build*/
examples/**/conformance_tests/
examples/**/conformance_tests.backup/
examples/**/node_build/
examples/**/node_conformance_tests/
examples/**/package-lock.json
examples/**/node_modules/
examples/**/node_harness_tests/
examples/**/plain_modules/

examples/**/go_build/
examples/**/python_build/

examples/**/go_plain_modules/
examples/**/python_plain_modules/
examples/**/node_plain_modules/


*.log

.venv
dist
*.egg-info

.env

.coverage
logging_config.yaml
