__pycache__
.DS_Store

# Plain
examples/**/build*/
examples/**/conformance_tests/
examples/**/conformance_tests.backup/
examples/**/node_build/
examples/**/node_conformance_tests/
examples/**/package-lock.json
examples/**/node_modules/
examples/**/node_harness_tests/

examples/**/go_build/
examples/**/python_build/

test_harness/**/go_plain_modules/
test_harness/**/python_plain_modules/
test_harness/**/node_plain_modules/


*.log

.venv
